<div class="col-md-auto d-none d-md-block vh-100" style="position:fixed" id="sidebar">

    <div class="sidebar">

        <div class="wrapper h-100">

            <div class="sidebar-header">
                <div class="logo">
                    <img th:src="@{/images/logo.webp}" alt="logo">
                </div>

                <div class="brand">
                    <h1 class="phantom-bold">The Box</h1>
                </div>

            </div>

            <div class="divider"></div>
            
            <div class="account">
                <div class="avatar" th:style="${settings.getOrDefault('PROFILE_PICTURE', null)} == null ? 'background-color: rgba(var(--secondary))' : 'background-image: url(https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/' + ${settings.get('PROFILE_PICTURE')}">

                    <div class="letter" th:if="${settings.getOrDefault('PROFILE_PICTURE', null)} == null">
                        <p class="phantom-bold primary-color" th:text="${userInitial}"></p>
                    </div>

                </div>

                <div class="info">
                    <div class="class">
                        <p class="phantom-bold" th:text="${lastName} + ' ' + ${firstName.charAt(0)} + '.'">LastName FirstName</p>
                    </div>

                    <div class="name">
                        <p class="phantom-regular" th:text="${username}">Username</p>
                    </div>
                </div>

                <div class="switcher">
                    <i class="bi bi-chevron-down"></i>
                </div>

            </div>

            <div class="sub-menu">
                <div class="header">
                    <p class="phantom-regular">MAIN MENU</p>
                </div>

                <div class="item-wrapper">
                    <div class="item">
                        <div class="icon">
                            <i class="bi bi-journals"></i>
                        </div>

                        <div class="text">
                            <a th:href="@{/courses}">
                                <p class="phantom-regular">Courses</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-menu" id="otherSettings">
                <div class="header">
                    <p class="phantom-regular">OTHER</p>
                </div>

                <div class="item-wrapper">
                    <div class="item">
                        <div class="icon">
                            <i class="bi bi-gear"></i>
                        </div>

                        <div class="text">
                            <a th:href="@{/settings}">
                                <p class="phantom-regular">Settings</p>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <i class="bi bi-chat-right-heart"></i>                                
                        </div>

                        <div class="text">
                            <a href="#">
                                <p class="phantom-regular">Help Center</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>