<div class="d-flex justify-content-center position-fixed z-3 align-items-center vh-100 w-100 black-opacity-background d-none" id="supportSection">

    <div class="support-wrapper d-flex bg-light-gray">

        <div class="close-btn w-80 text-end">
            <button class="bg-transparent outline-transparent" id="supportCloseBtn">
                <div class="icon">
                    <i class="bi bi-x secondary-color fs-large"></i>
                </div>
            </button>
        </div>

        <div class="header w-80 mt-4">
            <h1 class="phantom-bold m-0">Support</h1>
            <p class="phantom-medium fs-large m-0">We are here to help you!</p>
        </div>

        <form id="supportForm" class="w-80">
            <div class="input-wrapper w-100">

                <div class="input-header">
                    <p class="phantom-medium">Email</p>
                </div>

                <div class="input-container">

                    <div class="input ps-2 pe-2">
                        <input type="text" id="supportEmail" placeholder="example@company.com">
                    </div>

                </div>

                <div class="input-header mt-4">
                    <p class="phantom-medium">Message</p>
                </div>

                <div class="input-container">

                    <div class="input ps-2 pe-2">
                        <textarea id="supportMessage" placeholder="Enter your message here..."></textarea>
                    </div>

                </div>

            </div>

            <div class="general-btn w-100 mt-4 mb-4" id="supportSendBtn">
                <button type="submit" class="bg-green rounded w-100 phantom-bold primary-color pt-3 pb-3">SEND</button>
            </div>
        </form>

    </div>

</div>