    <!-- Navbar, only for devices smaller than md -->
    <div class="d-md-none">

        <!-- Navbar content -->
        <div class="collapse" id="navbarToggleExternalContent">

            <!-- Calls to action -->
            <div class="navbar-content bg-navbar">

                <div class="general-divider">
                    <p class="phantom-regular">MAIN MENU</p>
                </div>

                <div class="navbar-element">
                    <a href="#">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            <i class="bi bi-journals"></i>
                            <p class="phantom-regular m-0">Courses</p>
                        </div>
                    </a>
                </div>
                
                <div class="general-divider">
                    <p class="phantom-regular">OTHER</p>
                </div>

                <div class="navbar-element">
                    <a href="#">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            <i class="bi bi-gear"></i>
                            <p class="phantom-regular m-0">Settings</p>
                        </div>
                    </a>
                </div>

                <div class="navbar-element">
                    <a href="#">
                        <div class="d-flex align-items-center justify-content-center gap-1">
                            <i class="bi bi-chat-right-heart"></i>
                            <p class="phantom-regular m-0">Courses</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Profile icon -->
        <nav class="navbar navbar-dark bg-navbar">
            <div class="container-fluid d-flex">
                <div class="avatar">
                    <!-- Todo: add image -->

                    <div class="letter">
                        <p class="phantom-bold">M</p>
                    </div>

                </div>
                
                <div class="navbar-header">
                    <p class="phantom-bold">The Box</p>
                </div>

                <div class="custom-navbar-toggler">
                    <button id="navbarDropButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="icon">
                            <i class="bi bi-list"></i>
                        </div>
                    </button>
                </div>
            </div>
        </nav>
    </div>
