.landing-background {
    background-image: url("https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/static/images/bxdjv49qrfnbriyleduc");
    /* Full height */
    min-height: 100vh;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}

.black-opacity-background {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Mobile */
@media
    (max-width: 768px) {
    .landing-background {
        background-image: none;
        background-color: #395862;
    }
}