
:root {
    --primary: #fff;
    --light-gray: #FCFCFC;
    --gray: #F3F3F3;
    --dark-gray: #DDD;
    --secondary: 58, 62, 80;
    --green: #33D6A6;
    --red: #F48A8C;
    --purple: #F48AED;
    --light-blue: #52ABFF;
    --blue: #408dd4;
    --black: #000; 
}

.gray-color {
    color: var(--gray);
}

.warning-color {
    color: red;
}

.bg-gray {
    background: var(--gray);
}

.border-primary {
    border: 1px solid var(--primary);
}

.border-primary-2 {
    border: 2px solid var(--primary);
}

.border-secondary {
    border: 1px solid rgba(var(--secondary), .2);
}

.border-red {
    border: 1px solid var(--red);
}

.secondary-color {
    color: rgba(var(--secondary));
}

.primary-color {
    color: var(--primary);
}

.animated.secondary-color:hover {
    color: rgba(var(--secondary), .8);
}

/* Mobile */
@media (max-width: 768px) {

    .secondary-sm-background {
        background: rgba(var(--secondary));
    }

    .primary-sm-background {
        background: var(--primary);
    }

    .secondary-sm-color {
        color: rgba(var(--secondary));
    }

    .primary-sm-color {
        color: var(--primary);
    }
}