@import "color.css";

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
        format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
        format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }


  .phantom-regular {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: normal;
  }

  .phantom-italic {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
  }

  .phantom-bold {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: bold;
  }

  .phantom-medium {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: 500;
  }