.page-header i, .page-header p {
    color: rgba(var(--secondary));
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 48px;
}

.page-header a {
    display: inline-block;
}

@media (max-width: 768px) {
    .page-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}