.upload-area.active {
    outline: 3px dashed var(--green);
    background-image: url(../images/drag-and-drop.png) !important;

    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;

    /* Change background image opacity to .6 */
    /*background-color: rgba(255, 255, 255, .6);*/
}

.upload-area.invalid {
    outline: 3px dashed var(--red);
    background-color: var(--primary);

    opacity: 0.9;
}

.upload-area {
    background-size: cover;
}

.upload-area .overlay {

    min-width: 100%;
    min-height: 100%;

    background-image: url(../images/select-file.png);
    background-size: 3em;

    background-repeat: no-repeat;
    background-position: center;

    background-color: rgba(255, 255, 255, .5);

    opacity: 0;

    transition-property: opacity;
    transition-duration: .2s;
}

.upload-area .overlay:hover {
    opacity: 1;

    transition-property: opacity;
    transition-duration: .2s;

    cursor: pointer;
}