<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/settings.css}">

</head>

<body class="bg-light-gray" th:classappend="${settings.get('DARK_MODE').toString()} == 'true' ? 'dark-mode' : ''">

    <div id="navbar" th:insert="~{fragments/navbar :: #navbar(userInitial=${userInitial}, settings=${settings})}"></div>
    <div id="sidebar" th:insert="~{fragments/sidebar :: #sidebar(userInitial=${userInitial}, settings=${settings}, firstName=${firstName}, lastName=${lastName}, username=${username})}"></div>


    <div class="page-content-wrapper">
        
            <div class="page-header">
                <a class="text-decoration-none" th:href="${referer}">
                    <div class="d-flex align-items-center gap-2">
                        <i class="bi bi-arrow-left"></i>
                        <p class="phantom-bold">Settings</p>
                    </div>
                </a>
                
            </div>

            <div class="settings-wrapper">

                <div class="setting" th:each="settingEntry : ${settingDetails.entrySet()}" th:data-setting-id="${settingEntry.getKey()}" th:data-setting-type="${settingEntry.getValue().getDataType()}">

                    <div class="header">
                        <div class="title">
                            <p class="phantom-bold" th:text="${settingEntry.getValue().getDisplayName()}">[Setting Title]</p>
                        </div>

                        <div class="description">
                            <p class="phantom-regular light-gray" th:text="${settingEntry.getValue().getDescription()}">[Setting Description]</p>
                        </div>
                    </div>

                    <div class="content" th:data-setting-id="${settingEntry.getKey()}">
                        <label class="switch" th:if="${settingEntry.getValue().getDataType() == 'boolean'}">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>

                        <div class="upload-area"
                             data-category="user"
                             th:data-id="${username}"
                             th:data-default-image="@{/images/no-image-icon.png}"
                             th:data-field="${settingEntry.getKey()}"
                             th:style="${user.getSettings().get(settingEntry.getKey())} == null ? 'background-image: url(../images/no-image-icon.png)' : 'background-image: url(https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/' + ${user.getSettings().get(settingEntry.getKey())} + ')'"
                             th:if="${settingEntry.getValue().getDataType() == 'image-picker'}">

                            <div class="overlay"></div>

                        </div>

                    </div>

                </div>

                <div class="general-btn ms-auto mt-4">
                    <button type="button" class="rounded bg-blue pt-2 pb-2 ps-3 pe-3 secondary-color phantom-medium" id="saveSettingsBtn">Save settings</button>
                </div>


            </div>


        </div>

        <script th:src="@{/js/settings.js}"></script>
        <script th:src="@{/js/upload.js}"></script>

</body>

</html>