<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/stream.css}">

    <link rel="preload" th:href="@{/images/banner.webp}" as="image">
</head>

<body class="bg-light-gray" th:classappend="${settings.get('DARK_MODE').toString()} == 'true' ? 'dark-mode' : ''">

    <div id="navbar" th:insert="~{fragments/navbar :: #navbar(userInitial=${userInitial}, settings=${settings})}"></div>
    <div id="sidebar" th:insert="~{fragments/sidebar :: #sidebar(userInitial=${userInitial}, settings=${settings}, firstName=${firstName}, lastName=${lastName}, username=${username})}"></div>

    <div class="page-content-wrapper">

        <div class="page-header">
            <a th:href="'/overview?courseId='+ ${course.getId()}" class="d-inline-block mt-4 text-decoration-none">
                <i class="bi bi-arrow-left"></i>
            </a>
        </div>

        <div class="banner upload-area d-flex flex-column" th:id="'idea-'+${idea.getId()}"
             data-category="idea"
             th:data-id="${course.getId()}"
             data-field="banner-bg"
             th:data-nested-reference-id="${idea.getId()}"
             th:style="${idea.getSettings().get('banner-bg')} == null ? 'background-image: url(https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/static/images/xc6piiilp4yzq2zdk6ip)' : 'background-image: url(https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/' + ${idea.getSettings().get('banner-bg')} + ')'">

            <div class="text-section order-1">
                <div class="wrapper">

                    <div class="footer">
                        <div class="counter">
                            <div class="number">
                                <p class="phantom-bold vote-count primary-color" th:text="${idea.calculateVotes()}">[Likes]</p>
                            </div>

                            <div class="icon">
                                <i class="bi bi-lightbulb primary-color"></i>
                            </div>
                        </div>

                        <div class="actions-wrapper">

                            <button class="outline-transparent bg-transparent" id="joinFullscreen" th:data-image="'https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/' + ${idea.getSettings().get('banner-bg')}">
                                <i class="bi bi-arrows-fullscreen fs-medium primary-color"></i>
                            </button>


                            <div class="anchor">
                                <a draggable="false" href="#" class="vote-btn" th:data-idea-id="${idea.getId()}" th:data-course-id="${course.getId()}" data-vote="up">
                                    <img draggable="false" th:src="@{/images/like-btn-bg.svg}" alt="like-button">
                                </a>
                            </div>

                            <div class="anchor">
                                <a draggable="false" href="#" class="vote-btn" th:data-idea-id="${idea.getId()}" th:data-course-id="${course.getId()}" data-vote="down">
                                    <img draggable="false" th:src="@{/images/dislike-btn-bg.svg}" alt="dislike-button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="idea">

            <div class="header">
                <div class="title">
                    <h1 class="phantom-bold" th:text="${idea.getName()}">[Idea Name]</h1>
                </div>
                <div class="subtitle">
                    <p class="phantom-regular" th:text="'By #'+${idea.getAuthorUsername()}">[Idea Author]</p>
                </div>
            </div>

            <div class="description">
                <div class="section-title">
                    <p class="phantom-regular">DETAILS</p>
                </div>

                <div class="content">
                    <p class="phantom-regular" th:text="${idea.getDetails()}">[Idea Details]</p>
                </div>
            </div>
        </div>

        <div class="input-wrapper">
            <div class="comment-input">
                <label for="commentInput"></label>
                <textarea id="commentInput" class="phantom-regular" placeholder="Write a comment..."></textarea>
            </div>

            <div class="actions-wrapper">

                <div class="d-flex align-items-center gap-2">

                    <p class="phantom-medium secondary-color fs-medium m-0">
                        Anonymize?
                    </p>

                    <label class="switch" id="anonymousSwitcher"> <!-- id="anonymousSwitcher" class="anonymous-switcher"-->
                        <input type="checkbox" id="anonymousCheckbox">
                        <span class="slider round"></span>
                    </label>

                    <button type="button" class="outline-transparent bg-transparent" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="The anonymizer rewrites comments neutrally and hides the profile picture and username using AI">
                        <i class="bi bi-info-circle fs-medium secondary-color"></i>
                    </button>

                </div>

                <div class="send-button">
                    <button class="phantom-bold" id="postBtn" th:data-username="${username}">
                        <div class="content">
                            <div class="icon">
                                <i class="bi bi-send-fill"></i>
                            </div>

                            <div class="text">
                                <p>POST</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="comment-wrapper">
            <div class="comment" th:each="comment : ${idea.getComments().reversed()}">

                <div class="avatar"
                     th:classappend="${comment.getProfilePicture() == null ? (comment.getAuthor() == 'Anonymous' ? 'bg-black' : 'bg-blue') : ''}"
                     th:style="${comment.getProfilePicture() == null ? '' : 'background-image: url(https://res.cloudinary.com/dzeah7jtd/image/upload/f_auto,q_auto/v1/' + comment.getProfilePicture()}">

                    <div class="letter" th:if="${comment.getProfilePicture() == null}">
                        <p class="phantom-medium m-0" th:text="${comment.getAuthor() == 'Anonymous' ? '*' : comment.getAuthorInitial()}">[Author Initial]</p>
                    </div>
                </div>

                <div class="content">
                    <div class="header">
                        <div class="author">
                            <p class="phantom-medium" th:text="${comment.getAuthor()}">[Author Username]</p>
                        </div>

                        <div class="date">
                            <p class="phantom-bold" th:text="${comment.formattedTimestamp()}">[Formatted Timestamp]</p>
                        </div>
                    </div>

                    <div class="text">
                        <p class="phantom-regular" th:text="${comment.getContent()}">
                            [Comment Content]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <div class="me-2">
                    <div id="toastIconColor">
                        <i id="toastIcon"></i>
                    </div>
                </div>
                <strong class="me-auto" id="toastTitle"></strong>
                <small id="toastSmallText"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
            </div>
        </div>
    </div>

    <div id="fullscreen" class="d-none">

        <div id="fullscreen-image"></div>

        <div class="actions-wrapper">
            <button class="outline-transparent bg-transparent" id="exitFullscreen">
                <div class="icon">
                    <i class="bi bi-x fs-large"></i>
                </div>
            </button>
        </div>

    </div>

    <script th:src="@{/js/toast.js}"></script>
    <script th:src="@{/js/components.js}"></script>
    <script th:src="@{/js/vote.js}"></script>
    <script th:src="@{/js/comment.js}"></script>
    <script th:src="@{/js/anonymizer.js}"></script>
    <script th:src="@{/js/tooltip.js}"></script>
    <script th:src="@{/js/upload.js}" th:if="${idea.getAuthorUsername()} == ${username}"></script>
    <script th:src="@{/js/fullscreen.js}"></script>

</body>

</html>